<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>@Resources.Common.Number</th>
                <th>@Resources.Common.Subject</th>
                <th>@Resources.Common.Status</th>
                <th>@Resources.Common.Priority</th>
                <th>@Resources.Common.Type</th>
                <th>@Resources.Common.CreateDate</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: tickets">
            <tr>
                <th data-bind="text: number"></th>
                <th data-bind="text: subject"></th>
                <th data-bind="text: status"></th>
                <th data-bind="text: priority"></th>
                <th data-bind="text: type"></th>
                <th data-bind="fromISODateTime: dateCreated"></th>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
        <p data-bind="text: myHometown"></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
