<!-- ko if: loading -->
<div class="loading d-block">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- /ko -->

@section SPAViews {
    @Html.Partial("_Home")
    @Html.Partial("_AddTicket")
    @Html.Partial("_TicketDetails")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/Index")
    @Scripts.Render("~/bundles/app")
}
