@{
    ViewBag.Title = Resources.Global.APP_NAME;
}

<!-- ko if: loading -->
<div class="loading d-block">
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- /ko -->

@section SPAViews {
    @Html.Partial("_Home")
    @Html.Partial("_AddTicket")
    @Html.Partial("_TicketDetails")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>

    @Scripts.Render("~/bundles/Index")

    <script type="text/javascript">
       UserData.isLoggedIn("@ViewBag.isLoggedIn");
       UserData.userId("@ViewBag.userId");
       UserData.roles(@Html.Raw(Json.Encode(ViewBag.roles)));
       UserData.employeeId("@ViewBag.employeeId");
       UserData.contrahentId("@ViewBag.contrahentId");
    </script>

    @Scripts.Render("~/bundles/app")
}
